<header role="banner" id="fh5co-header">
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="row">
				<div class="col-md-3">
					<div class="fh5co-navbar-brand">
						<a class="fh5co-logo" href="index.html">Narrow</a>
					</div>
				</div>
				<div class="col-md-9 main-nav">
					<ul id="nav" class="nav text-right">
						<li>
							<a href="/home"><span>HOME </span></a>
							<p></p>
						</li>
						<p></p>
						<li><a href="/service">SERVICES</a></li>
						<p></p>
						<li><a href="/products">PRODUCT</a></li>
						<p></p>
						<li><a href="/about.html">ABOUT</a></li>
						<p></p>
						<li><a href="/contact.html">CONTACT US</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>

<script>
	var currentParam = window.location.pathname;
	var menuLinks = document.querySelectorAll("#nav li a");
	for (var i = 0; i < menuLinks.length; i++) {
		if (menuLinks[i].getAttribute("href") == currentParam) menuLinks[i].parentElement.classList.add("active");
		break;
	}
</script>
